* {
  font-family: Open Sans, "Trebuchet MS", sans-serif;
}
body {
  background-color: #2c2f33;
  color: #23272a;
}
header {
  text-align: center;
  width: 94%
}
header p {
  padding-bottom: 7px
}
main {
  display: flex;
}
header, div {
  background-color: #99aab5;
  border-radius: 12px;
  margin: 2%;
}
.add-bot {
  width: 45%;
  float: left;
  text-align: center;
}
.commands {
  width: 45%;
  float: right;
}
button {
  border-radius: 12px;
  text-align: center;
  padding: 12px 15px;
  color: #23272a;
  background-color: #7289da;
  float: none;
  font-weight: bold;
  border: hidden;
}
.behind-button {
  margin: 0px;
  padding: 0px;
  background-color: #2c2f33;
}
button:hover {
  opacity: 0.5;
}
p, h2, h3, dl, button {
  margin: 10px;
}
